extends layout

block content
  article
    if !product
      h1 Page non trouvée!
    else
      h1#product-name= product.name
      .row
        .col
          img#product-image(alt=product.name, src='./img/' + product.image)
        .col
          section
            h2 Description
            p#product-desc!= product.description

          section
            h2 Caractéristiques
            ul#product-features
              each feature in product.features
                li!= feature

          hr
          form#add-to-cart-form.pull-right('data-product-id'=product.id)
            label(for='product-quantity') Quantité:
            |
            |
            input#product-quantity.form-control(type='number', value='1', min='1')
            |
            |
            button.btn(title='Ajouter au panier', type='submit')
              i.fa.fa-cart-plus
              |   Ajouter
          p
            | Prix:
            strong#product-price!= formatPrice(product.price)
      #dialog.dialog
        | Le produit a été ajouté au panier.
