extends layout

block content
  article
    h1 Panier
    if items.length === 0
      p Aucun produit dans le panier.
    else
      #shopping-cart-container
        table.table.shopping-cart-table
          thead
            tr
              th
              th Produit
              th Prix unitaire
              th Quantité
              th Prix

          tbody
            each item in items
              tr('data-product-id'=item.product.id)
                td
                  button.remove-item-button(title='Supprimer')
                    i.fa.fa-times
                td
                  a(href='./produit?id=' + item.product.id)= item.product.name
                td!= formatPrice(item.product.price)
                td
                  .row
                    .col
                      button.remove-quantity-button(title='Retirer' disabled=item.quantity <= 1)
                        i.fa.fa-minus
                    .col.quantity= item.quantity
                    .col
                      button.add-quantity-button(title='Ajouter')
                        i.fa.fa-plus
                td.price!= formatPrice(item.total)


        p.shopping-cart-total
          | Total:
          |
          strong#total-amount!= formatPrice(total)
        a.btn.pull-right(href='./commande')
          | Commander
          |
          i.fa.fa-angle-double-right
        button#remove-all-items-button.btn
          i.fa.fa-trash-o
          |
          |   Vider le panier
